@import "tailwindcss";

@theme {
  /* Background */
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222 47% 11%);

  /* Primary (Soft Green) */
  --color-primary: #BCE097;
  --color-primary-foreground: #1D2B30;

  /* Primary Light */
  --color-primaryLight: #F8FAF7;

  /* Secondary (Dark Slate) */
  --color-secondary: #1D2B30;
  --color-secondary-foreground: #FFFFFF;

  /* Secondary Light */
  --color-secondaryLight: #2A373D;

  /* Card Background */
  --color-cardBg: #E8EDE4;

  /* UI */
  --color-border: hsl(214 32% 91%);
  --color-muted: hsl(210 40% 96%);

  --radius-lg: 14px;
}
